In [ ]:
import pandas as pd
import numpy as np

In [ ]:
columns=["movie_id", "movie_name", "rating", "actors","director", "producer", "generes"]
data =[]
data.append(["M1", "Movie1", 5.0, ["A1", "A2"], "D1", "P1", ["drama", "horrer"]])
data.append(["M2", "Movie2", 3.0, ["A1"], "D1", "P1", ["action", "horrer"]])
data.append(["M3", "Movie3", 4.0, ["A2", "A3"], "D2", "P1", ["comedy", "action"]])             
mdf=pd.DataFrame(columns =columns, data=data)

In [ ]:
mdf.head()

In [ ]:
actors=set()
for v in mdf["actors"].values:
    actors.update(v)
actors =list(actors)

In [ ]:
actors = {"A1": {"actor_id":"A1", "actor_name":"A1","rating":0.0},
          "A2": {"actor_id":"A2", "actor_name":"A2","rating":0.0},
          "A3": {"actor_id":"A3", "actor_name":"A3","rating":0.0}}
actors

In [ ]:
actor_ratings={}
for i, row in mdf.iterrows():
    _actor_ids=row["actors"]
    for _actor_id in _actor_ids:
        if actor_ratings.get(_actor_id, None) is None:
            actor_ratings[_actor_id]=[]
        actor_ratings[_actor_id].extend([row["rating"]])
print(actor_ratings)
for _actor_id in actor_ratings.keys():
    rating= np.mean(actor_ratings[_actor_id])
    actors[_actor_id]["rating"]=rating
print(actors)

In [ ]:
## Movie dataset
movies_columns=["movie_id", "rating", "actor_rating", "producer_rating", "director_rating", "genere_rating"]
movies=[]
for idx, row in mdf.iterrows():
    _actor_ids=row["actors"]
    _actor_ratings=[]
    for _actor_id in _actor_ids:
        r= actors.get(_actor_id, {}).get("rating", 0.0)
        _actor_ratings.append(r)
    actor_rating=np.mean(_actor_ratings)
    producer_rating=0.0 #TODO
    director_rating=0.0
    genere_rating=0.0
    movies.append([row["movie_id"], row["rating"], actor_rating, producer_rating,director_rating,genere_rating])
movies

In [ ]:
def compute_actor_rating(actor_ids):
    _actor_ratings=[]
    for _actor_id in actor_ids:
        r= actors.get(_actor_id, {}).get("rating", 0.0)
        _actor_ratings.append(r)
    actor_rating=np.mean(_actor_ratings)
    return actor_rating

In [ ]:
## Movie dataset
movies={}
for idx, row in mdf.iterrows():
    actor_rating=compute_actor_rating(row["actors"])
    producer_rating=0.0 #TODO
    director_rating=0.0
    genere_rating=0.0
    movies[row["movie_id"]]={"rating":row["rating"], "actor_rating":actor_rating, "producer_rating":producer_rating,"director_rating":director_rating,"genere_rating":genere_rating}

In [ ]:
movies

In [ ]:
def compute_score(features):
    n=2
    rating = features["rating"]
    if rating is None:
        rating=0
        n=n-1
    score = (rating+features["actor_rating"])/n
    return score

def categorize_score(score):
    if score<=2.5:
        category="FLOP"
    elif score <=3.5:
        category="AVERAGE"
    else:
        category="HIT"
    return category

In [ ]:
mdf["score"]=pd.Series()
mdf["score"]=mdf.apply(lambda x:compute_score(movies[x["movie_id"]]), axis=1)
mdf["category"]=mdf["score"].apply(lambda x: categorize_score(x))

In [ ]:
mdf

In [ ]:
# Inference
x = {"movie_id":None, "movie_name":"XYZ", "actors":["A2", "A3"], "director":"D1", "generes":["comedy"], "rating":None}

In [ ]:
x

In [ ]:
features ={'rating': x["rating"],
  'actor_rating': compute_actor_rating(x["actors"]),
  'producer_rating': 0.0,
  'director_rating': 0.0,
  'genere_rating': 0.0}
features

In [ ]:
score = compute_score(features)
category=categorize_score(score)
print (category, score)

In [2]:
columns=["movie_id", "movie_name", "rating", "actors","director", "producer", "generes"]
data =[]
data.append(["M1", "Movie1", 5.0, ["A1", "A2"], "D1", "P1", ["drama", "horrer"]])
data.append(["M2", "Movie2", 3.0, ["A1"], "D1", "P1", ["action", "horrer"]])
data.append(["M3", "Movie3", 4.0, ["A2", "A3"], "D2", "P1", ["comedy", "action"]])             
mdf=pd.DataFrame(columns =columns, data=data)

In [3]:
mdf.head()

  movie_id movie_name  rating    actors director producer           generes
0       M1     Movie1     5.0  [A1, A2]       D1       P1   [drama, horrer]
1       M2     Movie2     3.0      [A1]       D1       P1  [action, horrer]
2       M3     Movie3     4.0  [A2, A3]       D2       P1  [comedy, action]

In [4]:
actors=set()
for v in mdf["actors"].values:
    actors.update(v)
actors =list(actors)

In [5]:
actors = {"A1": {"actor_id":"A1", "actor_name":"A1","rating":0.0},
          "A2": {"actor_id":"A2", "actor_name":"A2","rating":0.0},
          "A3": {"actor_id":"A3", "actor_name":"A3","rating":0.0}}
actors

{'A1': {'actor_id': 'A1', 'actor_name': 'A1', 'rating': 0.0},
 'A2': {'actor_id': 'A2', 'actor_name': 'A2', 'rating': 0.0},
 'A3': {'actor_id': 'A3', 'actor_name': 'A3', 'rating': 0.0}}

In [6]:
actor_ratings={}
for i, row in mdf.iterrows():
    _actor_ids=row["actors"]
    for _actor_id in _actor_ids:
        if actor_ratings.get(_actor_id, None) is None:
            actor_ratings[_actor_id]=[]
        actor_ratings[_actor_id].extend([row["rating"]])
print(actor_ratings)
for _actor_id in actor_ratings.keys():
    rating= np.mean(actor_ratings[_actor_id])
    actors[_actor_id]["rating"]=rating
print(actors)

{'A1': [5.0, 3.0], 'A2': [5.0, 4.0], 'A3': [4.0]}
{'A1': {'actor_id': 'A1', 'actor_name': 'A1', 'rating': 4.0}, 'A2': {'actor_id': 'A2', 'actor_name': 'A2', 'rating': 4.5}, 'A3': {'actor_id': 'A3', 'actor_name': 'A3', 'rating': 4.0}}

In [7]:
## Movie dataset
movies_columns=["movie_id", "rating", "actor_rating", "producer_rating", "director_rating", "genere_rating"]
movies=[]
for idx, row in mdf.iterrows():
    _actor_ids=row["actors"]
    _actor_ratings=[]
    for _actor_id in _actor_ids:
        r= actors.get(_actor_id, {}).get("rating", 0.0)
        _actor_ratings.append(r)
    actor_rating=np.mean(_actor_ratings)
    producer_rating=0.0 #TODO
    director_rating=0.0
    genere_rating=0.0
    movies.append([row["movie_id"], row["rating"], actor_rating, producer_rating,director_rating,genere_rating])
movies

[['M1', 5.0, 4.25, 0.0, 0.0, 0.0],
 ['M2', 3.0, 4.0, 0.0, 0.0, 0.0],
 ['M3', 4.0, 4.25, 0.0, 0.0, 0.0]]

In [8]:
def compute_actor_rating(actor_ids):
    _actor_ratings=[]
    for _actor_id in actor_ids:
        r= actors.get(_actor_id, {}).get("rating", 0.0)
        _actor_ratings.append(r)
    actor_rating=np.mean(_actor_ratings)
    return actor_rating

In [9]:
## Movie dataset
movies={}
for idx, row in mdf.iterrows():
    actor_rating=compute_actor_rating(row["actors"])
    producer_rating=0.0 #TODO
    director_rating=0.0
    genere_rating=0.0
    movies[row["movie_id"]]={"rating":row["rating"], "actor_rating":actor_rating, "producer_rating":producer_rating,"director_rating":director_rating,"genere_rating":genere_rating}

In [10]:
movies

{'M1': {'rating': 5.0,
  'actor_rating': 4.25,
  'producer_rating': 0.0,
  'director_rating': 0.0,
  'genere_rating': 0.0},
 'M2': {'rating': 3.0,
  'actor_rating': 4.0,
  'producer_rating': 0.0,
  'director_rating': 0.0,
  'genere_rating': 0.0},
 'M3': {'rating': 4.0,
  'actor_rating': 4.25,
  'producer_rating': 0.0,
  'director_rating': 0.0,
  'genere_rating': 0.0}}

In [90]:
def compute_score(features):
    n=2
    rating = features["rating"]
    if rating is None:
        rating=0
        n=n-1
    score = (rating+features["actor_rating"])/n
    return score

def categorize_score(score):
    if score<=2.5:
        category="FLOP"
    elif score <=3.5:
        category="AVERAGE"
    else:
        category="HIT"
    return category

In [73]:
mdf["score"]=pd.Series()
mdf["score"]=mdf.apply(lambda x:compute_score(movies[x["movie_id"]]), axis=1)
mdf["category"]=mdf["score"].apply(lambda x: categorize_score(x))

/home/ashok/anaconda3/envs/ml/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [74]:
mdf

,movie_id,movie_name,rating,actors,director,producer,generes,score,category
0,M1,Movie1,5.0,"[A1, A2]",D1,P1,"[drama, horrer]",4.625,HIT
1,M2,Movie2,3.0,[A1],D1,P1,"[action, horrer]",3.500,AVERAGE
2,M3,Movie3,4.0,"[A2, A3]",D2,P1,"[comedy, action]",4.125,HIT

In [103]:
# Inference
x = {"movie_id":None, "movie_name":"XYZ", "actors":["A2", "A3"], "director":"D1", "generes":["comedy"], "rating":None}

In [104]:
x

{'movie_id': None,
 'movie_name': 'XYZ',
 'actors': ['A2', 'A3'],
 'director': 'D1',
 'generes': ['comedy'],
 'rating': None}

In [105]:
features ={'rating': x["rating"],
  'actor_rating': compute_actor_rating(x["actors"]),
  'producer_rating': 0.0,
  'director_rating': 0.0,
  'genere_rating': 0.0}
features

{'rating': None,
 'actor_rating': 4.25,
 'producer_rating': 0.0,
 'director_rating': 0.0,
 'genere_rating': 0.0}

In [106]:
score = compute_score(features)
category=categorize_score(score)
print (category, score)

HIT 4.25